@tailwind base;
@tailwind components;
@tailwind utilities;



@supports (backdrop-filter: blur(20px)) {
  .translucent {
    --tw-bg-opacity: 0.8 !important;
    backdrop-filter: saturate(180%) blur(20px);
  }
}

.raceItem span {
  width: auto !important;
  margin-left: 8px !important;
  display: flex !important;
  gap: 4px;
  align-items: center !important;
  flex-direction: row-reverse !important;
}